<h1 class="text-center mt-5 mb-5">All sport buddies</h1>

<div class="container">

  <div class="row">
    <% @profiles.each do |profile| %>
        <% unless profile.name == current_user.name %>
        <div class="col-6">
            <div class="card mb-3" style="max-width: 500px; border-radius: 15px">
              <div class="row no-gutters", style="border-radius: 30px">
                <div class="col-md-4">
                 <p class="mb-0"><%= image_tag (cl_image_path profile.photo), crop: :fill, style:"object-fit:cover; height: 30vh; width: 30vh", class: "rounded-circle center p-3" %></p>
                </div>
                <div class="col-md-8 d-flex flex-column justify-content-between">
                  <div class="card-body">
                    <div>
                      <h5 class="card-title"><%= profile.name.titlecase %></h5>
                      <p class="card-text"><%= profile.city %></p>
                    </div>
                  </div class="">
                  <div class="m-3">
                    <%= link_to "connect", add_friend_path(profile), method: :post, class: "btn btn-success" %>
                    <%= link_to "profile", profile_path(profile), class: "btn btn-outline-success" %>
                  </div>
                </div>
              </div>
            </div>
        </div>
      <% end %>
    <% end %>
    </div>

</div>



