<div class="container" id="contact-us">
    <h1>Meet The Creators</h1>
    <div class="row">
        <!-- STEVEN -->
        <div class="col-sm-12 col-md-6 col-lg-3">
            <div>
                <div>
                    <%= image_tag "stevenly.png" %>
                </div>
                <h5> Steven Ly </h5>
                <p>"Back-End Developer"</p>
                <ul class="personal-links">
                    <li>
                        <a href="https://github.com/shiwenly"><i class="fab fa-github"></i></a>
                    </li>
                    <li>
                        <a href="https://www.linkedin.com/in/steven-ly-8b731733/"><i class="fab fa-linkedin"></i></a>
                    </li>
                </ul>
            </div>
        </div>

        <!-- FELIPE -->
        <div class="col-sm-12 col-md-6 col-lg-3">
            <div>
                <div>
                    <%= image_tag "felipe.jpg" %>
                </div>
                <h5> Felipe Roschel </h5>
                <p>"Back-End Developer"</p>
                <ul class="personal-links">
                    <li>
                        <a href="https://github.com/feliperoschel"><i class="fab fa-github"></i></a>
                    </li>
                    <li>
                        <a href="https://www.linkedin.com/in/feliperoschel/"><i class="fab fa-linkedin"></i></a>
                    </li>
                </ul>
            </div>
        </div>

        <!-- RICHARD -->
        <div class="col-sm-12 col-md-6 col-lg-3">
            <div>
                <div>
                    <%= image_tag "richard.jpg" %>
                </div>
                <h5> Richard Sugianto So</h5>
                <p>"Lead Developer / Front-End"</p>
                <ul class="personal-links">
                    <li>
                        <a href="https://github.com/scorcious"><i class="fab fa-github"></i></a>
                    </li>
                    <li>
                        <a href="https://www.linkedin.com/in/richardsugiantoso/"><i class="fab fa-linkedin"></i></a>
                    </li>
                </ul>
            </div>
        </div>

        <!-- STEVEN -->
        <div class="col-sm-12 col-md-6 col-lg-3">
            <div>
                <div>
                    <%= image_tag "stevy.jpg" %>
                </div>
                <h5> Steven Chareonbood </h5>
                <p>"Project Manager / Front-End"</p>
                <ul class="personal-links">
                    <li>
                        <a href="https://github.com/chareonbood"><i class="fab fa-github"></i></a>
                    </li>
                    <li>
                        <a href="https://www.linkedin.com/in/schareonbood/"><i class="fab fa-linkedin"></i></a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <!-- ADD MARGIN BOTTOM HERE -->
    <h1>Scan the QR Code Below</h1>
    <div class="row" id="qrcode">
        <div class="col-sm-12 col-md-6 col-lg-6">
            <!-- TODO: WeChat Group-->
            <h3>WeChat Group</h3>
            <div>
                <%= image_tag "wechatQR.jpg" %>
            </div>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-6">
            <!-- TODO: Website-->
            <h3>Our Website</h3>
            <div>
                <%= image_tag "webQR.png", id:"webQR" %>
            </div>
        </div>
    </div>
</div>