<div class="pages-home">
    <div class="background text-center mx-auto">
        <div>
            <h1 class="mesg-top">Find sports matches</h1>
            <h1>around you</h1>
        </div>
        <%= simple_form_for :search, defaults: { required: false }, url: pages_path, method: "GET", html: { class: '' } do |f| %>
        <%= f.input :query, label: false, placeholder: "Search for users and matches or sports", input_html: {value: ""} %>
        <% end %>
    </div>
    
    <div class="container" style="margin-top: 76vh;">
        <h2>Recommended for you</h2>
        <div class="row"> <!-- TODO: TAGS FOR SPORTS AND LINKS -->
            <div class="recommended col-sm-12 col-md-6 col-lg-3">
                <img src="https://images.unsplash.com/photo-1476480862126-209bfaa8edc8?ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60" alt="">
                <h3><!-- TODO: PLACE LINK HERE --></h3>
            </div>
            <div class="recommended col-sm-12 col-md-6 col-lg-3">
                <img src="https://images.unsplash.com/photo-1521412644187-c49fa049e84d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=634&q=80" alt="">
                <h3></h3>
            </div>
            <div class="recommended col-sm-12 col-md-6 col-lg-3">
                <img src="https://images.unsplash.com/photo-1530549387789-4c1017266635?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60" alt="">
                <h3></h3>
            </div>
            <div class="recommended col-sm-12 col-md-6 col-lg-3">
                <img src="https://images.unsplash.com/photo-1510925758641-869d353cecc7?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60" alt="">
                <h3></h3>
            </div>
            <div class="recommended col-sm-12 col-md-6 col-lg-3">
                <img src="https://images.unsplash.com/photo-1482614312710-79c1d29bda2a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60" alt="">
                <h3></h3>
            </div>
            <div class="recommended col-sm-12 col-md-6 col-lg-3">
                <img src="https://images.unsplash.com/photo-1434596922112-19c563067271?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60" alt="">
                <h3></h3>
            </div>
            <div class="recommended col-sm-12 col-md-6 col-lg-3">
                <img src="https://images.unsplash.com/photo-1502680390469-be75c86b636f?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60" alt="">
                <h3></h3>
            </div>
            <div class="recommended col-sm-12 col-md-6 col-lg-3">
                <img src="https://images.unsplash.com/photo-1459865264687-595d652de67e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60" alt="">
                <h3><%= link_to  "See All", matches_path %></h3>
            </div>
        </div>

        <h2>Discover matches</h2>
        <div class="row paintings">
            <% @matches.each do |m| %>
                <div class="col-sm-12 col-md-6 col-lg-4">
                    <%= cl_image_tag m.photo %>
                    <div>
                        <h4><%= link_to m.description, match_path(m) %></h4>
                        <p>Coming in: <%= (m.date - Date.today).to_i %> days</p>
                    </div>
                </div>
            <% end %>
        </div>
    </div>
</div>