<div class="container">
  <div class="challenge-index">
    <h2 class="text-center">Your Challenges</h2>
    <% if @challenges != [] %>
        <div class="row justify-content-center">
        <% @challenges.each do |challenge|%>
          <div class="col-sm-12 col-md-6 col-lg-4">
            <div class="content border" style= "box-shadow: 1px 1px 5px rgba(0,0,0,0.2)">
              <%= cl_image_tag challenge.match.photo, class: "rounded-top", style: "border-radius: 0px" %>
              <div class="mt-2">
                <p class="text-left mb-2"><i class="fas fa-map-marker-alt"></i> <%= challenge.match.user.city %></p>
                <h5 class="text-left text-truncate ml-1"><%= challenge.match.description %></h5>
              </div>

              <div class="mt-0">
                <p>Level: <%= challenge.match.level %></p>
                <p>Max Players: <%= challenge.match.number_of_players %></p>
                <div class="d-flex px-0">
                  <p style="color:rgba(0,0,0,0.6)"><i class="fas fa-calendar-alt"></i> <%= challenge.match.date.strftime("%d/%m/%Y") %> -  <%= challenge.match.time.strftime("%H:%M") %></p>
                  <%= link_to "Details", match_path(challenge.match), class: "my-0 ml-5 stretched-link", style:"font-size: 14px; text-decoration: underline" %>
                </div>
              </div>
              <div class=" row justify-content-center">
                <p class="challenger pt-4">Challenged by: <%= link_to  User.find(challenge.challenger_id).name.split(" ")[0], profile_path(User.find(challenge.challenger_id)) %></p>

                <div style="margin-top: 1vh; z-index: 1;">
                  <%= link_to "Decline", player_path(challenge, challenge: { status: 'declined' }), class: "btn btn-outline-danger mb-2", method: :put %>
                  <%= link_to "Accept", player_path(challenge, challenge: { status: 'accepted' }), class: "btn btn-outline-primary mb-2", method: :put %>
                  <%= link_to "See Match", match_path(challenge.match), class: "btn btn-success m-0" %>
                </div>
              </div>
            </div>
          </div>


          <% end %>
        </div>
      <% else %>
      <div id="no-matches">
        <div>
          <h4>"You have no challenges"</h4>
          <div>
            <%= link_to  "Browse Matches", matches_path %>
          </div>
        </div>
      </div>
      <% end %>
    </div>
  </div>
</div>
