<div class="container match-index">
  <% if @show_user_match %>
    <div class="search navigations">
      <h3 id="matches-current" class="active">All Games</h3>
      <h3 id="hosted">Hosted Games</h3>
      <h3 id="matches-past">Past Games</h3>
    </div>
  <% else %>
    <div class="search">
      <h2 class="text-center">Find Games Around you</h2>
      <div class="text-center mr-0" id="form-search">
        <%= simple_form_for :search, defaults: { required: false }, url: matches_path, method: "GET", html: { class: 'text-center mr-0', style: "" } do |f| %>
        <%= f.input :query, label: false, placeholder: "Search for games", input_html: {value: ""}, class: "mr-0" %>
        <i class="fas fa-search" id="icon-search" style="position: relative; top: -48px; right: -140px; color: rgba(0,0,0,0.5);"></i>
      </div>
      <% end %>
    </div>
  <% end %>
  <div class="row" id='match-js'>
    <% if @show_user_match %>
      <% if @all_matches_signed_up != [] # if im not looking for a specific user's match %>
        <% @all_matches_signed_up.each do |match| %>
          <div class="col-sm-12 col-md-6 col-lg-4">
            <div class="content">
              <%= cl_image_tag match.photo, class: "rounded-top" %>
              <div class="mt-2">
                <p class="text-left mb-2"><i class="fas fa-map-marker-alt"></i> <%= match.user.city %></p>
                <h5 class="text-left text-truncate ml-1"><%= match.description %></h5>
              </div>

              <div class="mt-0">
                <p>Level: <%= match.level %></p>
                <p>Max Players: <%= match.number_of_players %></p>
                <div class="d-flex px-0">
                  <p style="color:rgba(0,0,0,0.6)"><i class="fas fa-calendar-alt"></i> <%= match.date.strftime("%d/%m/%Y") %> -  <%= match.time.strftime("%H:%M") %></p>
                  <%= link_to "Details", match_path(match), class: "my-0 ml-5 stretched-link", style:"font-size: 14px; text-decoration: underline" %>
                </div>
              </div>
            </div>
          </div>
        <% end %>
      <% else %>
        <div class="no-match">
          <div>
            <h4> "No matches are found" </h4>
            <%= link_to  "Browse Matches", matches_path, class: "btn btn-success" %>
          </div>
        </div>
      <% end %>
    <% else %>
      <% if @matches.count != 0 %>
        <% @matches.each do |match| %>
          <div class="col-sm-12 col-md-6 col-lg-4">
            <div class="content">
              <%= cl_image_tag match.photo, class: "rounded-top" %>
              <div class="mt-2">
                <p class="text-left mb-2"><i class="fas fa-map-marker-alt"></i> <%= match.user.city %></p>
                <h5 class="text-left text-truncate ml-1"><%= match.description %></h5>
              </div>
              <div class="mt-0">
                <p>Level: <%= match.level %></p>
                <p>Max Players: <%= match.number_of_players %></p>
                <div class="d-flex px-0">
                  <p style="color:rgba(0,0,0,0.6)";><i class="fas fa-calendar-alt"></i> <%= match.date.strftime("%d/%m/%Y") %> -  <%= match.time.strftime("%H:%M") %></p>
                  <%= link_to "Details", match_path(match), class: "my-0 ml-5 stretched-link", style: "font-size: 14px; text-decoration: underline;" %>
                </div>
              </div>
            </div>
          </div>
          <% end %>
      <% else %>
        <h4 class="text-center" style="width: 100%;">"Sorry, there is no match available"</h4>
      <% end %>
    <% end %>
  </div>
</div>

<script>
  const addClassSelected = (target) => {
    // take parent class -> get children -> remove classes for all children
    const children = target.parentElement.children;
    const childAmount = target.parentElement.childElementCount;
    for (let i=0; i<childAmount; i++) {
      children[i].classList.remove("active");
    }
    // add class
    target.classList.add("active");
  }

  this.addEventListener("click", (e) => {
    // INIT
    const whereToShow = document.querySelector("#match-js");
    const id = e.target.id;

    // INJECT HTML
    if (id === "matches-current") {
      addClassSelected(e.target);
      whereToShow.innerHTML = "";
      whereToShow.insertAdjacentHTML("beforeend", `
      <% if @all_matches_signed_up != [] %>
        <% @all_matches_signed_up.each do |match| %>

        <div class="col-sm-12 col-md-6 col-lg-4">
          <div class="content">
            <%= cl_image_tag match.photo, class: "rounded-top" %>
            <div class="mt-2">
              <p class="text-left mb-2"><i class="fas fa-map-marker-alt"></i> <%= match.user.city %></p>
              <h5 class="text-left text-truncate ml-1"><%= match.description %></h5>
            </div>
            <div class="mt-0">
              <p>Level: <%= match.level %></p>
              <p>Max Players: <%= match.number_of_players %></p>
              <div class="d-flex px-0">
                <p style="color:rgba(0,0,0,0.6)";><i class="fas fa-calendar-alt"></i> <%= match.date.strftime("%d/%m/%Y") %> -  <%= match.time.strftime("%H:%M") %></p>
                <%= link_to "Details", match_path(match), class: "my-0 ml-5 stretched-link", style: "font-size: 14px; text-decoration: underline;" %>
              </div>
            </div>
          </div>
        </div>

        <% end %>
      <% else %>
        <div class="no-match">
          <div>
            <h4> "No matches are found!" </h4>
            <%= link_to  "Browse Matches", matches_path, class: "btn btn-success" %>
          </div>
        </div>
      <% end %>
      `)
    }
    else if (id === "hosted") {
      addClassSelected(e.target);
      whereToShow.innerHTML = "";
      whereToShow.insertAdjacentHTML("beforeend", `
      <% if @matches != [] %>
        <% @matches.each do |match| %>

        <div class="col-sm-12 col-md-6 col-lg-4">
          <div class="content">
            <%= cl_image_tag match.photo, class: "rounded-top" %>
            <div class="mt-2">
              <p class="text-left mb-2"><i class="fas fa-map-marker-alt"></i> <%= match.user.city %></p>
              <h5 class="text-left text-truncate ml-1"><%= match.description %></h5>
            </div>
            <div class="mt-0">
              <p>Level: <%= match.level %></p>
              <p>Max Players: <%= match.number_of_players %></p>
              <div class="d-flex px-0">
                <p style="color:rgba(0,0,0,0.6)";><i class="fas fa-calendar-alt"></i> <%= match.date.strftime("%d/%m/%Y") %> -  <%= match.time.strftime("%H:%M") %></p>
                <%= link_to "Details", match_path(match), class: "my-0 ml-5 stretched-link", style: "font-size: 14px; text-decoration: underline;" %>
              </div>
            </div>
          </div>
        </div>

        <% end %>
      <% else %>
        <div class="no-match">
          <div>
            <h4> "<%= @user_name %> have not host any matches" </h4>
            <%= link_to  "Host a match", new_match_path, class: "btn btn-success" %>
          </div>
        </div>
      <% end %>
      `)
    }
    else if (id === "matches-past") {
      addClassSelected(e.target);
      whereToShow.innerHTML = "";
      whereToShow.insertAdjacentHTML("beforeend", `
      <% if @past_matches != [] %>
        <% @past_matches.each do |match| %>

        <div class="col-sm-12 col-md-6 col-lg-4">
          <div class="content">
            <%= cl_image_tag match.photo, class: "rounded-top" %>
            <div class="mt-2">
              <p class="text-left mb-2"><i class="fas fa-map-marker-alt"></i> <%= match.user.city %></p>
              <h5 class="text-left text-truncate ml-1"><%= match.description %></h5>
            </div>
            <div class="mt-0">
              <p>Level: <%= match.level %></p>
              <p>Max Players: <%= match.number_of_players %></p>
              <div class="d-flex px-0">
                <p style="color:rgba(0,0,0,0.6)";><i class="fas fa-calendar-alt"></i> <%= match.date.strftime("%d/%m/%Y") %> -  <%= match.time.strftime("%H:%M") %></p>
                <%= link_to "Details", match_path(match), class: "my-0 ml-5 stretched-link", style: "font-size: 14px; text-decoration: underline;" %>
              </div>
            </div>
          </div>
        </div>

        <% end %>
      <% else %>
        <div class="no-match">
          <div>
            <h4> "No past matches are found!" </h4>
            <%= link_to  "Browse Matches", matches_path, class: "btn btn-success" %>
          </div>
        </div>
      <% end %>
      `)
    }
  })
</script>
