<h1>Matches#index</h1>
<p>Find me in app/views/matches/index.html.erb</p>
<div class="container center">
<p><%= link_to "New", new_match_path, class: "btn btn-success" %></p>
  <% @matches.each do |match| %>
    <div class="border center">
      <p>When: <%= match.date %></p>
      <p>Where: <%= match.location %></p>
      <p>Details: <%= match.description %></p>
      <p>At: <%= match.time %></p>
      <p>Level: <%= match.level %></p>
      <p>Max Players: <%= match.number_of_players %></p>
      <p>Team A:</p>
      <% @players_a = match.players.select { |player| player.team == "A" } %>
      <% @players_b = match.players.select { |player| player.team == "B" } %>
      <% @players_a.each do |player| %>
          <%= cl_image_tag player.user.photo %>
        <% end %>
      <p>Team B:</p>
      <% @players_b.each do |player| %>
          <%= cl_image_tag player.user.photo %>
        <% end %>


      <p><%= link_to "Show", match_path(match), class: "btn btn-success" %></p>
    </div>
  <% end %>
</div>


