<div class="container match-index">
  <!-- FIXME: search (back-end) controller -->
  <% if @show_user_match %>
    <!-- TODO: SHOW USER MATCHES -->
    <div class="search navigations">
      <h3 class="active">Your Matches</h3>
      <h3>Hosted Matches</h3>
      <h3>Past Matches</h3>
    </div>
  <% else %>
    <div class="search">
      <h2 class="text-center">Find Matches Around you</h2>
      <%= simple_form_for :search, defaults: { required: false }, url: matches_path, method: "GET", html: { class: '' } do |f| %>
      <%= f.input :query, label: false, placeholder: "Search for matches", input_html: {value: ""} %>
      <% end %>
    </div>
  <% end %>
  <div class="row">
    <% @matches.each do |match| %>
      <div class="col-sm-12 col-md-6 col-lg-4">
        <div class="content">
          <%= cl_image_tag match.photo %>
          <div>
            <h4 class="text-center"><%= match.description %></h4>
            <p><%= match.location %></p>
          </div>

          <div>
            <p>Level: <%= match.level %></p>
            <p>Darte & Time: <%= match.date.strftime("%d/%m/%Y") %> -  <%= match.time.strftime("%H:%M") %></p>
            <p>Max Players: <%= match.number_of_players %></p>
            <%= link_to "See More", match_path(match), class: "btn btn-success" %>
          </div>
        </div>
      </div>
    <% end %>

  </div>
</div>

<script>
  
</script>