<h1>Matches#index</h1>
<p>Find me in app/views/matches/index.html.erb</p>
<div class="container center">
<p><%= link_to "New", new_match_path, class: "btn btn-success" %></p>
  <% @matches.each do |match| %>
    <div class="border center">
      <p>When: <%= match.date %></p>
      <p>Where: <%= match.location %></p>
      <p>Details: <%= match.description %></p>
      <p>At: <%= match.time %></p>
      <p>Level: <%= match.level %></p>
      <p>Max Players: <%= match.number_of_players %></p>
      <p>Team A: <%= match.team_a %></p>
      <p>Team B: <%= match.team_b %></p>
      <p><%= link_to "Show", match_path(match), class: "btn btn-success" %></p>
    </div>
  <% end %>
</div>
