<div class="banner d-flex align-items-center justify-content-center" style="background: url(<%= (cl_image_tag @match.photo).match(/http\:(.)*"/)[0].gsub(/\"/, "") %>) no-repeat center center; background-size: cover; height: 70vh" >
  <div>
    <h1 class="text-center" style="color: white"><%= @match.description %></h1>
    <p class="text-center" style="color: white"><%= @match.city %></p>
  </div>
</div>

<div class="container">
  <div class="py-5">
    <div class="row border rounded mt-5 mb-2 mx-0 p-3" style="">
      <div class="col-5">
        <p><b>Event details</b></p>
        <p style="font-size: 14px">Location: <%= @match.location %></p>
        <p style="font-size: 14px">Date & Time: <%= @match.date.strftime("%d/%m/%Y") %> -  <%= @match.time.strftime("%H:%M") %></p>
        <% if (@match.date - Date.today).to_i >= 0 %>
          <p style="font-size: 14px">Coming in: <%= (@match.date - Date.today).to_i %> days</p>
        <% end %>
        <p style="font-size: 14px">Level: <%= @match.level %></p>
        <p class="mb-0", style="font-size: 14px">Max Players: <%= @match.number_of_players %></p>
      </div>
      <div class="col-7">
      <h5><strong>Team A</strong></h5>
      <div class="d-flex mb-5 round-plus-button">
        <% @players_a.each do |player| %>
            <%= cl_image_tag player.user.photo, class: "rounded-circle mt-1", style: "width: 50px; height: 50px" %>
        <% end %>
        <!-- add button -->
        <% unless ( @all_players.any?{|user| user == current_user} || @players_a.count >= (@match.number_of_players / 2) || @match.status != "open" ) %>
          <%= link_to "", match_players_path(@match, player: {team: 'A'}), method: :post, data: { confirm: 'Are you sure you want to join the team A?' }, class: "fas fa-plus-circle" %>
        <% end %>
      </div>
      <h5><strong>Team B</strong></h5>
      <div class="d-flex round-plus-button">
        <% @players_b.each do |player| %>
          <%= cl_image_tag player.user.photo, class: "rounded-circle mt-1", style: "width: 50px; height: 50px" %>
        <% end %>
        <!-- add button -->
        <% unless ( @all_players.any?{|user| user == current_user} || (@players_b.count >= @match.number_of_players) || @match.status != "open" ) %>
          <%= link_to "", match_players_path(@match, player: {team: 'B'}), method: :post, data: { confirm: 'Are you sure you want to join the team B?' }, class: "fas fa-plus-circle" %>
        <% end %>
      </div>
      </div>
    </div>
  </div>

  <div>
    <% if current_user %>
      <% if @match.user == current_user %>
        <%= link_to "Edit", edit_match_path(@match), class: "btn btn-outline-success" %>
        <%= link_to "Delete", match_path(@match), method: :delete, class: "btn btn-outline-danger" %>
      <% end %>
    <% end %>

    <!-- Challenge buddy -->
    <% if @all_players.any?{|user| user == current_user} && user_signed_in? && !@match.full? && current_user.friends != [] %>
    <h2 class="text-center mb-1 mt-5">👊 Challenge Your Buddy 👊</h2>
    <div class="pb-4 challenge d-flex justify-content-center">
      <div class="col-sm-12 col-md-10 p-0">
        <%= simple_form_for [@match, @player] do |f| %>
          <%= f.input :user_id, label: "Choose your buddy:", include_blank: false, collection: @friends %>
          <%= f.submit "Challenge!", class: "btn btn-success" %>
        <% end %>
      </div>
    </div>
    <% end %>
  </div>

  <h2 class="text-center mb-1 mt-5">Write a comment</h2>
  <div class="row justify-content-center">
    <div class="col-10">
      <div class="text-center">
      <% if policy(@forum).create? %>
        <%= simple_form_for [@match, @forum] do |f| %>
          <%= f.input :content, label: "Write your comment here:" %>
          <%= f.submit "save", class: "btn btn-success mt-0 mb-4" %>
        <% end %>
      <% end %>
      </div>
      <div class="text-center">
        <div class="border" style="margin: 10vh 0; margin-top: 20px;padding: 20px;">
        <% @forums.each do |comment| %>
        <% dayCount = (Time.new(Time.now - comment.created_at).day) -1 %>
          <div class="m-3">
            <!-- IF DAYS == 0 THEN DONT SHOW DAYS -->
            <h5 class="m-0"><strong>
              <!-- TODO: CHANGE NAME INTO LINK TO USER -->
              <%= comment.user.name.split(" ").first  %>
              <% if dayCount != 0 %> - <%= dayCount unless dayCount == 0 %> days ago<% else %>
               - <%= comment.created_at.strftime("%H:%M") %> UTC 
               <% end %></strong></h5>
            <p class="m-0"> <%= comment.content %> </p>
          </div>
          <% end %>
        </div>
      </div>
    </div>

</div>
