<div class="banner d-flex align-items-center justify-content-center" style="background: url(<%= (cl_image_tag @match.photo).match(/http\:(.)*"/)[0].gsub(/\"/, "") %>) no-repeat center center; background-size: cover; height: 70vh" >
  <div>
    <h1 class="text-center" style="color: white"><%= @match.description %></h1>
    <p class="text-center" style="color: white"><%= @match.city %></p>
  </div>
</div>

<div class="container">
  <div class="py-5">
    <div class="row border rounded mt-5 mb-2 mx-0 p-3">
      <div class="col-5">
        <h5 class="text-left"><strong>Event details</strong></h5>
        <p style="font-size: 14px; margin: 20px 0 12px; text-transform: capitalize;"><i class="fas fa-map-marker-alt" style="font-size: 18px;"></i> <%= @match.location %></p>
        <p style="font-size: 14px; margin: 0 0 12px; text-transform: capitalize;"><i class="fas fa-calendar-alt" style="font-size: 18px;"></i> <%= @match.date.strftime("%d/%m/%Y") %> -  <%= @match.time.strftime("%H:%M") %></p>
        <% if (@match.date - Date.today).to_i >= 0 %>
          <p style="font-size: 14px; margin: 0 0 12px;">
            <i class="fas fa-clock" style="font-size: 18px; text-transform: capitalize;"></i>
            <% if (@match.date - Date.today).to_i == 0 %>
              Today
              <% else %>
              <%= (@match.date - Date.today).to_i %> Days
            <% end %> 
          </p>
        <% end %>
        <p style="font-size: 14px; margin: 0 0 12px; text-transform: capitalize;"><i class="fas fa-signal" style="font-size: 18px;"></i> <%= @match.level %></p>
        <p class="mb-0", style="font-size: 14px ; margin: 0; text-transform: capitalize;"><i class="fas fa-user-circle" style="font-size: 18px;"></i> <%= @match.number_of_players %> members max.</p>
      </div>
      <div class="col-7">
      <h5 class="text-center"><strong>Team A</strong></h5>
      <div class="d-flex mb-5 round-plus-button justify-content-center">
        <% @players_a.each do |player| %>
          <% if player.status == "pending" %>
            <%= link_to (cl_image_tag player.user.photo, class: "pending rounded-circle mt-1", style: "width: 50px; height: 50px; object-fit: cover;"), profile_path(player.user) %>
          <% else %>
            <%= link_to (cl_image_tag player.user.photo, class: "rounded-circle mt-1", style: "width: 50px; height: 50px; object-fit: cover;"), profile_path(player.user) %>
          <% end %>
        <% end %>
        <!-- join button -->
        <% unless ( @all_players.any?{|user| user == current_user} || @players_a.count >= (@match.number_of_players / 2)) && @match.status == "open" %>
          <%= link_to "", match_players_path(@match, player: {team: 'A'}), method: :post, data: { confirm: 'Are you sure you want to join the team A?' }, class: "fas fa-plus-circle" %>
        <% end %>
      </div>
      <h5 class="text-center"><strong>Team B</strong></h5>
      <div class="d-flex round-plus-button justify-content-center">
        <% @players_b.each do |player| %>
          <% if player.status == "pending" %>
            <%= link_to (cl_image_tag player.user.photo, class: "rounded-circle mt-1", style: "width: 50px; height: 50px; object-fit: cover;"), profile_path(player.user) %>
          <% else %>
            <%= link_to (cl_image_tag player.user.photo, class: "rounded-circle mt-1", style: "width: 50px; height: 50px; object-fit: cover;"), profile_path(player.user) %>
          <% end %>
        <% end %>
        <!-- join button -->
        <% unless ( @all_players.any?{|user| user == current_user} || (@players_b.count >= @match.number_of_players)) && @match.status == "open" %>
          <%= link_to "", match_players_path(@match, player: {team: 'B'}), method: :post, data: { confirm: 'Are you sure you want to join the team B?' }, class: "fas fa-plus-circle" %>
        <% end %>
      </div>
      </div>
    </div>
  </div>

  <div>
    <% if current_user && @match.status != "past" %>
      <% if @match.user == current_user %>
        <%= link_to "Edit", edit_match_path(@match), class: "btn btn-outline-success" %>
        <%= link_to "Cancel", match_path(@match), method: :delete, class: "btn btn-outline-danger" %>
      <% end %>
    <% end %>

    <!-- WINNER -->
    <% if @match.user == current_user && @match.status == "past" %>
      <h2 class="text-center mb-1 mt-5">Who is the winner :</h2>
      <% if @match.winner.nil? %>
        <div class="pb-4 challenge-btns d-flex justify-content-center">
          <div class="col-sm-12 col-md-10 p-0 mt-3">
            <%= link_to "Team A", match_winner_path(@match, match: {winner: 'A'}), method: :post, data: { confirm: 'Are you sure you want to choose the team A?' }, class: "btn btn-success" %>
            <%= link_to "Draw", match_winner_path(@match, match: {winner: 'Draw'}), method: :post, data: { confirm: 'Are you sure you want to choose draw?' }, class: "btn btn-outline-dark" %>
            <%= link_to "Team B", match_winner_path(@match, match: {winner: 'B'}), method: :post, data: { confirm: 'Are you sure you want to choose the team B?' }, class: "btn btn-primary" %>
          </div>
        </div>

      <% else %>
        <p>Team : <%= @match.winner %> </p>
      <% end %>
    <% end %>

    <!-- SHOW CHALLENGE REQUEST -->
    <% unless @challenges == [] %>
      <% if @challenges[0].match_id == @match.id %>
        <h2 class="text-center mt-5">👊 You Have a Challenge! 👊</h2>
        <h4 class="text-center mb-1 challenge-found">Challenger: <%= cl_image_tag @challenger.photo, class: "rounded-circle mt-1", style: "margin-left: 20px; width: 50px; height: 50px; object-fit: cover;" %> <%= link_to @challenger.name, profile_path(@challenger) %></h4>
        <div class="pb-4 challenge-btns d-flex justify-content-center">
          <div class="col-sm-12 col-md-10 p-0 mt-3">
            <%= link_to "Decline", player_path(@challenges[0], challenge: { status: 'declined' }), class: "btn btn-outline-danger", method: :put %>
            <%= link_to "Accept", player_path(@challenges[0], challenge: { status: 'accepted' }), class: "btn btn-outline-primary", method: :put %>
          </div>
        </div>
      <% end %>
    <% end %>

    <!-- Challenge buddy -->
    <% if @all_players.any?{|user| user == current_user} && user_signed_in? && !@match.full? && current_user.friends != [] && @match.status == "open"  && @friends != []%>
    <h2 class="text-center mb-1 mt-5">👊 Challenge Your Buddy 👊</h2>
    <div class="pb-4 challenge d-flex justify-content-center">
      <div class="col-sm-12 col-md-10 p-0">
        <%= simple_form_for [@match, @player] do |f| %>
          <%= f.input :user_id, label: "Choose your buddy:", include_blank: false, collection: @friends %>
          <%= f.submit "Challenge!", class: "btn btn-success" %>
        <% end %>
      </div>
    </div>
    <% end %>
  </div>

  <!-- COMMENTS -->
  <h2 class="text-center mb-1 mt-5">Write a comment</h2>
  <div class="row justify-content-center">
    <div class="col-10">
      <div class="text-center">
      <% if policy(@forum).create? %>
        <%= simple_form_for [@match, @forum] do |f| %>
          <%= f.input :content, label: "Write your comment here:"%>
          <%= f.submit "save", class: "btn btn-success mt-0 mb-4", id: "refresh", data: { disable_with: false } %>
        <% end %>
      <% end %>
      </div>
      <div class="text-center">
        <div class="border" style="margin: 10vh 0; margin-top: 20px;padding: 20px;">
        <div id='forumstart'></div>
          <% if @forums != [] %>

            <% @forums.each do |comment| %>
            <% dayCount = (Time.new(Time.now - comment.created_at).day) -1 %>
            <div class="m-3 comments">
              <!-- IF DAYS == 0 THEN DONT SHOW DAYS -->
              <h5 class="m-0">
                <!-- TODO: CHANGE NAME INTO LINK TO USER -->
                <%= link_to comment.user.name.split(" ").first, profile_path(comment.user) %>
                <% if dayCount != 0 %> - <%= dayCount unless dayCount == 0 %> days ago<% else %>
                 - <%= comment.created_at.strftime("%H:%M") %> UTC
                 <% end %></h5>
              <p class="m-0"style="text-align: center; word-break: break-word"> <%= comment.content %> </p>
            </div>
            <% end %>
          <% else %>
            <div class="m-3 comments">
              <!-- IF DAYS == 0 THEN DONT SHOW DAYS -->
              <h5 class="m-0">"There is no comments"</h5>
            </div>
          <% end %>
        </div>
      </div>
    </div>
</div>

<!-- <script>
  let submit = document.getElementById("refresh")
  submit.addEventListener("click", function(){
    console.log('click here')
    if(submit.disabled === true){
      submit.removeAttribute('disabled');
    }
  })
</script> -->
