<!-- Find me in app/views/matches/show.html.erb -->
<div class="banner d-flex align-items-center justify-content-center" style="background: url(<%= (cl_image_tag @match.photo).match(/http\:(.)*"/)[0].gsub(/\"/, "") %>) no-repeat center center; background-size: cover; height: 70vh" >
  <div>
    <h1 class="text-center" style="color: white"><%= @match.description %></h1>
    <p class="text-center" style="color: white"><%= @match.city %></p>
  </div>
</div>

<div class="container">
  <div class="row border rounded mt-5 mb-2 mx-0 p-3" style="">
    <div class="col-5">
      <p><b>Event details</b></p>
      <p style="font-size: 14px">Where: <%= @match.location %></p>
      <p style="font-size: 14px">When: <%= @match.date %></p>
      <p style="font-size: 14px">At: <%= @match.time %></p>
      <p style="font-size: 14px">Level: <%= @match.level %></p>
      <p class="mb-0", style="font-size: 14px">Max Players: <%= @match.number_of_players %></p>
    </div>
    <div class="col-7">
      <div class="mb-5"><b>Team A</b>
        <br>
        <% @players_a.each do |player| %>
            <%= cl_image_tag player.user.photo, class: "rounded-circle mt-1", style: "width: 50px; height: 50px" %>
        <% end %>
        <% unless ( @all_players.any?{|user| user == current_user} || @players_a.count >= (@match.number_of_players / 2) ) %>
          <%= link_to "Join", match_players_path(@match, player: {team: 'A'}), method: :post, data: { confirm: 'Are you sure you want to join the team A?' }, class: "btn btn-primary" %>
        <% end %>
      </div>
      <div class=""><b>Team B</b>
        <br>
        <% @players_b.each do |player| %>
          <%= cl_image_tag player.user.photo, class: "rounded-circle mt-1", style: "width: 50px; height: 50px" %>
        <% end %>
        <!-- TODO: add button -->
        <% unless ( @all_players.any?{|user| user == current_user} || (@players_b.count >= @match.number_of_players)) %>
          <%= link_to "Join", match_players_path(@match, player: {team: 'B'}), method: :post, data: { confirm: 'Are you sure you want to join the team B?' },class: "btn btn-primary" %>
        <% end %>
      </div>
    </div>
  </div>

  <div class="mb-2">
    <% if current_user %>
      <% if @match.user == current_user %>
        <%= link_to "Edit", edit_match_path(@match), class: "btn btn-outline-success" %>
        <%= link_to "Delete", match_path(@match), method: :delete, class: "btn btn-outline-danger" %>
      <% end %>
    <% end %>
    <%= link_to "See all Matches", matches_path, class: "btn btn-success" %>
  </div>

  <h2 class="text-center mb-4 mt-5">Comments</h2>
  <div class="row justify-content-center">
    <div class="col-10">
      <div class="text-center">
      <% if policy(@forum).create? %>
        <%= simple_form_for [@match, @forum] do |f| %>
          <%= f.input :content, label: "enter your comment here:" %>
          <%= f.submit "save", class: "btn btn-success mt-0 mb-4" %>
        <% end %>
      <% end %>
      </div>
      <div class="text-center">
        <% @forums.each do |comment| %>
        <div class="border mt-2 mb-4">
          <p style="font-size: 14px"><%= comment.user.name %> - <%= comment.created_at %></p>
          <p style="font-size: 12px"> <%= comment.content %> </p>
        </div>
        <% end %>
      </div>
    </div>

</div>

<div>
  <p>TAGS  ----- NEEDS STYLING </p>
  <% @match.tag_list.each do |tag| %>
    <%= link_to tag, tagged_path(tag: tag) %>
  <% end %>
</div>

<p>CHALLENGE YOUR BUDDY ----- NEEDS STYLING </p>
<% if user_signed_in? %>
  <div class="border">Challenge your Friend 👊👊👊
      <%= simple_form_for [@match, @player] do |f| %>
        <%= f.input :user_id, include_blank: false, collection: @friends %>
        <%= f.submit "Challenge!", class: "btn btn-success" %>
      <% end %>
    </div>
<% end %>
