<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>mysportbuddies</title>
    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all' %>

    <%#= stylesheet_pack_tag 'application', media: 'all' %> <!-- Uncomment if you import CSS in app/javascript/packs/application.js -->
  </head>
  <body>
    <div class="wrapper">
      <!-- NAVBAR -->
      <div class="navbar">
        <a href="/"><h4 class="logo">MYSPORTBUDDIES</h4></a>
        <!-- SEARCH BAR -->
        <% unless @no_search_bar %>
          <div class="search-bar">
            <%= simple_form_for :search, defaults: { required: false }, url: pages_path, method: "GET", html: { class: 'form-inline' } do |f| %>
              <%= f.input :title, label: false, placeholder: "Search for anything", input_html: {value: ""} %>
            <% end %>
          </div>
        <% end %>

        <!-- IF USER IS LOGGED IN -->
        <% if current_user %>

        <!-- SEARCH BAR -->
        <div class="collapse navbar-collapse justify-content-end align-items-center" id="navbarSupportedContent">
          <ul class="navbar-nav mr-0">
            <div class="row align-items-center pl-3 column-on-mobile">
              <li class="nav-item mr-3">
                <a class="nav-link pt-0" href="#"><%= link_to  "Create game", new_match_path, class: "host-service btn btn-success", style: "border-radius: 10px" %></a>
              </li>
              <li class="nav-item mr-3 active">
                <a class="nav-link" href="#"><%= link_to  "Find buddies", profiles_path, style: "padding: 0;" %><span class="sr-only">(current)</span></a>
              </li>
              <li class="nav-item mr-3">
                <a class="nav-link pt-0" href="#"><%= link_to  "Browse games", matches_path %></a>
              </li>
              <li class="nav-item dropdown">
                <!-- HIDE ON MOB -->
                <div class="hide-on-mobile nav-link dropdown-toggle p-0" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <div class="hide-on-mobile">
                    <%= image_tag (cl_image_path current_user.photo), crop: :fill, style: "height: 40px; object-fit: cover; border-radius: 50%" %>
                    <% if @total_counts != 0 %>
                      <div id="notif-div" style="position: absolute; top: 25px; right: -20px;">
                        <p id="notif-total"><%= @total_counts %></p>
                      </div>
                    <% end %>
                  </div>
                </div>
                <!-- PROFILE DROPDOWN -->
                <div class="dropdown-menu hidden-lg" aria-labelledby="navbarDropdown" style="top: 40px; left: -5em !important;">
                  <a class="dropdown-item" href="#"><%= link_to "Profile", profile_path(current_user), class:"dropdown-item" %></a>
                  <a class="dropdown-item" href="#"><%= link_to  "Buddies", my_friends_path, class:"dropdown-item" %></a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item" href="#"><%= link_to  "Games", matches_path(user_id: current_user.id), class:"dropdown-item" %></a>
                  <a class="dropdown-item" href="#"><%= link_to  "Challenges", players_path, class:"dropdown-item" %></a>
                  <a class="dropdown-item" href="#"><%= link_to  "Leaderboards", rankings_path, class:"dropdown-item" %></a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item" href="#"><%= link_to "Logout", destroy_user_session_path, method: :delete, class:"dropdown-item" %></a>
                </div>
              </li>
            </div>
            <div class="dropdown-divider"></div>
            <div class="my-2 hide-on-large">
              <div>
                <a class="dropdown-item" href="#"><%= link_to "Profile", profile_path(current_user) %></a>
                <a class="dropdown-item" href="#"><%= link_to  "Buddies", my_friends_path %></a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#"><%= link_to  "Games", matches_path(user_id: current_user.id) %></a>
                <a class="dropdown-item" href="#"><%= link_to  "Challenges", players_path %></a>
                <a class="dropdown-item" href="#"><%= link_to  "Leaderboards", rankings_path %></a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#"><%= link_to "Logout", destroy_user_session_path, method: :delete %></a>
              </div>
            </div>
          </ul>
        </div>

        <% else %>

        <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
          <div class="row pl-3 column-on-mobile">
            <div class="align-items-center">
            <ul class="navbar-nav mr-0">
              <li class="nav-item mr-3">
                <a class="nav-link pt-0" href="#"><%= link_to  "Create game", new_match_path, class: "host-service btn btn-success", style: "border-radius: 10px" %></a>
              </li>
              <li class="nav-item mr-3 d-flex align-items-center">
                <%= link_to  "Browse games", matches_path %>
              </li>
              <li class="nav-item mr-3 d-flex align-items-center">
                <%= link_to  "Login", new_user_session_path %>
              </li>
            </ul>
            </div>
          </div>
        </div>
        <% end %>
      </nav>

    <%= yield %>

    </div>

    <!-- FOOTER -->
    <footer>
      <div class="row">
        <%= link_to  "msb", root_path, class: "logo" %>
        <div class="col-sm-12 col-md-6">
          <div>
            <a href=""><i class="fab fa-github"></i> Github</a>
          </div>
          <div>
              <a href=""><i class="fab fa-instagram"></i> Instagram</a>
          </div>
          <div>
              <a href=""><i class="fab fa-facebook"></i> Facebook</a>
          </div>
          <div>
              <a href=""><i class="fab fa-linkedin"></i> LinkedIn</a>
          </div>
        </div>

        <div class="col-sm-12 col-md-6">
          <div>
            <%= link_to  "Browse all game", matches_path %>
          </div>
          <div>
            <%= link_to  "Browse all users", profiles_path %>
          </div>
          <div>
            <!-- TODO: -->
            <a href="">Terms & Conditions</a>
          </div>
          <div>
            <!-- TODO: -->
            <a href="">Leave Us Feedbacks</a>
          </div>
          <div>
            <!-- TODO: -->
            <a href="">Contact Us</a>
          </div>
        </div>
      </div>
    </footer>

    <%= javascript_include_tag 'application' %>
    <%= javascript_pack_tag 'application' %>
    <script>
      const items = document.querySelectorAll(".dropdown-item");
      const buddies = items[1];
      const matches = items[2];
      const challenges = items[3];

      // Buddies
      buddies.insertAdjacentHTML("beforeend", `
        <% if @buddies_pending_counts != 0 %>
          <span><%= @buddies_pending_counts %></span>
        <% end %>
      `)

      // Challenges
      challenges.insertAdjacentHTML("beforeend", `
        <% if @challenges_counts != 0 %>
          <span><%= @challenges_counts %></span>
        <% end %>
      `)
    </script>
  </body>
</html>
